body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: rgba(250, 235, 215, 0.089);
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }